.btn {
  background-color: $base;
  border-radius: 5px;
  color: $white !important;
  display: inline-block;
  font-weight: bold;
  padding: 8px 1.5rem;
  text-decoration: none;
  transition: all $quick;
  margin-top: 1rem;

  &:hover {
    background-color: $active;
    color: $white !important;
    text-decoration: none !important;
  }
}
