// Fonts

@font-face {
  font-family: 'llrg';
  font-style: normal;
  font-weight: normal;
  src:
    url('~assets/fonts/llrg-webfont.woff2') format('woff2'),
    url('~assets/fonts/llrg-webfont.woff') format('woff');
}

// Colors
$active: #d73427;
$base: #5e4b1b;
$text: #231f20;
$white: #fff;
$ascent: #d73427;

$grey: lighten($base, 60%);

// Animations

$quick: ease-in-out 150ms;
