
// Colors
$active: #d73427;
$base: #5e4b1b;
$secondary: #534741;
$text: #231f20;
$white: #fff;
$ascent: $active;
$green: #9ac331;
$dark-green: #6f8127;

$grey: lighten($base, 60%);

// Animations

$quick: ease-in-out 150ms;
